.app-dropdown {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 6px;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.app-dropdown--primary {
  color: white;
}

.app-dropdown--secondary {
  color: #333;
}

.app-dropdown--small { font-size: 12px; }
.app-dropdown--medium { font-size: 14px; }
.app-dropdown--large { font-size: 16px; }
select.app-dropdown { border: 1px solid #171717; outline: none; background: #fff; border-radius: 6px; padding: 6px 8px; }
